.notFound{
    /* background-image: url("../assets/1_EQisBuMOijQT8woW0Jn6pA_auto_x2.jpg"); */
    /* background-position: 100% 100%;
    background-size: cover;
    height: 100%; */
}
.nntlink{
    right: 24%;
    bottom: 20%;
}