*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pointer{
  cursor: pointer;
}
.ant-modal-footer{
  display: none;
}
@viewport {
  width: 980px;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ap-input{
  width: 100%;
}
.rmdp-input{
  width: 100%;
}
.rmdp-container{
  width: 100%;
}
.css-319lph-ValueContainer{
 height: 50px;

}
.linner{
  height: 50px;
  width: 50px;
  background-color: rgba(128, 128, 128, 0.795);
  border-radius: 50%;
}
.bHover {
  transition: transform 0.3s;
  
}
.bHover:hover {
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1.1, 1.1);
}
