body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pointer{
  cursor: pointer;
}
.ant-modal-footer{
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ap-input{
  width: 100%;
}
.rmdp-input{
  width: 100%;
}
.rmdp-container{
  width: 100%;
}
.css-319lph-ValueContainer{
 height: 50px;

}
