 <div class="content">
    
  <div class="container px-5">
    <div class="table-responsive px-4 bg-gray">

      <table class="table custom-table">
        <thead>
          <tr>
            
            <th scope="col">num</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row">
            <tr class="mt-3" *ngFor="let user of Users">
              <th scope="row mask flex-center rgba-green-slight">
                <!-- //length// -->
                1
              </th>
              <th scope="row">{{user.userName}}</th>
              <td>{{user.userEmail}}</td>
              <td><i class="fa-solid fa-pen" ></i></td>
            <td> <i class="fa-solid fa-trash-can" (click)="deleteUser(user._id)"></i></td>
            </tr>
          
        </tbody>
      </table>
    </div>


  </div>

</div>
