*{
    box-sizing: border-box;
}
i{
    cursor: pointer;
}
.bg-gray{
    background-color: gray;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.body P{
    font-weight: bold;
    font-size: medium;
}