.header{
    height: 80vh;
    position: relative;
   
}
.header img{
    height: 100%;
    width: 100%;
}
.header-content{
    text-align: center;
    position: absolute;
    top: 10%;
    left: 5%;
    
    background-color: rgba(255, 255, 255, 0.253);
}
.searchBar{
    background-color: rgba(245, 240, 240, 0.562);
    text-align: center;
    
}