.bg1
{ 
    background: url("https://schengenvisareservationhome.files.wordpress.com/2019/10/architecture-3121009_1920.jpg?w=1024");
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed; 
  top: 50; 
  left: 0; 
}