
a {
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none !important;
}
.content {
  padding: 7rem 0;
}
.custom-table {
  min-width: 900px;
}

tr,
th {
  border-top: none;
  border-bottom: none !important;
}

th,
td {
  color: black;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 600;
  border: none;
}
small {
  color: darken(#ccc, 10%);
  font-weight: 600;
}
tr {
  transition: 0.3s all ease;
}
tr:focus {
  background: white;
}
tr:hover {
  background: white;
}
.td-box-wrap {
  padding: 0;
}

td,
th {
  border: none !important;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}


.custom-table {
  min-width: 900px;
}
.custom-table thead tr,
.custom-table thead th {
  border-top: none;
  border-bottom: none !important;
}
.custom-table tbody th,
.custom-table tbody td {
  color: black;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 600;
  border: none;
}
.custom-table tbody th small,
.custom-table tbody td small {
  color: #b3b3b3;
  font-weight: 600;
}
.custom-table tbody tr {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.custom-table tbody tr:hover,
.custom-table tbody tr:focus {
  background: #fff;
}
.custom-table .td-box-wrap {
  padding: 0;
}
.custom-table .box {
  background: #fff;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.custom-table .box td,
.custom-table .box th {
  border: none !important;
}
.bg-gray {
  background-color: rgb(227, 226, 226);
}
i {
  cursor: pointer;
}
