
a {
  transition: 0.3s all ease;
}
a:hover {
  text-decoration: none !important;
}
.content {
  padding: 7rem 0;
}
.custom-table {
  min-width: 900px;
}

tr,
th {
  border-top: none;
  border-bottom: none !important;
}

th,
td {
  color: black;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 600;
  border: none;
}
small {
  color: darken(rgb(243, 227, 227), 10%);
  font-weight: 600;
}
tr {
  transition: 0.3s all ease;
}
tbody tr:focus {
  background: white;
}
tbody tr:hover {
  background: white;
}
.td-box-wrap {
  padding: 0;
}

td,
th {
  border: none !important;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}


.custom-table {
  min-width: 900px;
}
.custom-table thead tr,
.custom-table thead th {
  border-top: none;
  border-bottom: none !important;
}
.custom-table tbody th,
.custom-table tbody td {
  color: black;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 600;
  border: none;
}

.custom-table tbody tr {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.custom-table .td-box-wrap {
  padding: 0;
}

.custom-table .box td,
.custom-table .box th {
  border: none !important;
}
.bg-gray {
  background-color: rgba(232, 232, 232, 0.982);
}
i {
  cursor: pointer;
}
.bg-white{
  background-color: white;
}
