.uBox{
    background-image: linear-gradient(90deg, #a6e66c, #bdf488);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

/* .list-group-item:hover {
    background-color: #0d6efd;
    color: white;
} */

.letter {
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #9fc976;
    align-items: center;
    color: white;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
}
