.bg2
{ 
    background: url("https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed; 
    top: 50; 
    left: 0; 
}

