<section>
  <div>
    <div class="w-75 m-auto mt-5 border border-1 p-3">
      <form [formGroup]="EditHotel" (ngSubmit)="submitEditHotel()">

        <div class="mb-2">
          <label for="inputName" class="form-label fw-bold fs-5">Hotel Name</label>
          <input type="text" class="form-control" id="inputName" required aria-describedby="inputName" name="inputName"
            formControlName="inputName"/>
          <div class="pt-1 text-danger" *ngIf="formControls['inputName'].touched && !formControls['inputName'].valid">
            <small *ngIf="formControls['inputName'].errors?.['required']">
              * this field is required
            </small>
            <small *ngIf="formControls['inputName'].errors?.['minlength']">
              * Name should be more than 2
            </small>
            <small *ngIf="formControls['inputName'].errors?.['maxlength']">
              * Name should be less than 15
            </small>
          </div>
        </div>

        <div class="mb-2">
          <label for="inputPostalCode" class="form-label fw-bold fs-5">Hotel Postal Code</label>
          <div class="row justify-content-start align-items-center">
            <div class="col-md-4 col-lg-2 ps-5">
              <span class="fw-bold">Code</span>
            </div>
            <div class="col-md-4 col-lg-5">
              <input type="number" class="form-control" id="inputPostalCode" required aria-describedby="inputPostalCode" name="inputPostalCode"
              formControlName="inputPostalCode" min="1" [value]="EHotel?.postalCode"/>
              <div class="pt-1 text-danger" *ngIf="formControls['inputPostalCode'].touched && !formControls['inputPostalCode'].valid">
                <small *ngIf="formControls['inputPostalCode'].errors?.['required']">
                  * this field is required
                </small>
                <small *ngIf="formControls['inputPostalCode'].errors?.['min']">
                  * this field should be more than 1
                </small>
                <small *ngIf="formControls['inputPostalCode'].errors?.['max']">
                  * this field should be less than 6 numbers
                </small>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-2" formGroupName="inputContact">
          <label class="form-label fw-bold fs-5">Hotel Contact</label>
          <div class="row">
            <div class="col-md-6">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-4">
                  <span class="fw-bold">Phone 1</span>
                </div>
                <div class="col-lg-8">
                  <input type="number" class="form-control" id="inputPhoneOne" required aria-describedby="inputPhoneOne" name="inputPhoneOne"
                  formControlName="inputPhoneOne" [value]="EHotel?.contact.phone[0]"/>
                  <div class="pt-1 text-danger" *ngIf="inputPhoneOne?.touched && !inputPhoneOne?.valid">
                    <small *ngIf="inputPhoneOne?.errors?.['required']">
                      * this field is required
                    </small>
                    <small *ngIf="inputPhoneOne?.errors?.['pattern']">
                      * this field should be 11 digit Mobile Number
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-4">
                  <span class="fw-bold">Phone 2</span>
                </div>
                <div class="col-lg-8">
                  <input type="number" class="form-control" id="inputPhoneTwo" required aria-describedby="inputPhoneTwo" name="inputPhoneTwo"
                  formControlName="inputPhoneTwo" [value]="EHotel?.contact.phone[1]"/>
                  <div class="pt-1 text-danger" *ngIf="inputPhoneTwo?.touched && !inputPhoneTwo?.valid">
                    <small *ngIf="inputPhoneTwo?.errors?.['required']">
                      * this field is required
                    </small>
                    <small *ngIf="inputPhoneTwo?.errors?.['pattern']">
                      * this field should be 11 digit Mobile Number
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-3">
              <div class="row justify-content-center align-items-center">
                <div class="col-lg-4">
                  <span class="fw-bold">Hotel Email</span>
                </div>
                <div class="col-lg-8">
                  <input type="email" class="form-control" id="inputEmail" required aria-describedby="inputEmail" name="inputEmail"
                  formControlName="inputEmail" [value]="EHotel?.contact.email"/>
                  <div class="pt-1 text-danger" *ngIf="inputEmail?.touched && !inputEmail?.valid">
                    <small *ngIf="inputEmail?.errors?.['required']">
                      * this field is required
                    </small>
                    <small *ngIf="inputEmail?.errors?.['pattern']">
                      * this field should be ex:"agoda@gmail.com"
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-2">
          <label for="inputName" class="form-label fw-bold fs-5">Hotel Rating</label>
          <div class="ms-3 mb-2 row">
            <div class="col-md-6 col-lg-2">
              <span class="fw-bold">Rating By Star</span>
            </div>
            <div class="col-md-6 col-lg-2">
              <input type="radio" formControlName="inputRating"  [value]="1" [checked]="EHotel?.rating ==1? true: false"/>
              <span class="fw-bold"> *</span>
            </div>
            <div class="col-md-6 col-lg-2">
              <input type="radio" formControlName="inputRating" [value]="2" [checked]="EHotel?.rating ==2? true: false"/>
              <span class="fw-bold"> * *</span>
            </div>
            <div class="col-md-6 col-lg-2">
              <input type="radio" formControlName="inputRating" [value]="3" [checked]="EHotel?.rating ==3? true: false"/>
              <span class="fw-bold"> * * *</span>
            </div>
            <div class="col-md-6 col-lg-2">
              <input type="radio" formControlName="inputRating" [value]="4"[checked]="EHotel?.rating ==4? true: false"/>
              <span class="fw-bold"> * * * *</span>
            </div>
            <div class="col-md-6 col-lg-2">
              <input type="radio" formControlName="inputRating" [value]="5"[checked]="EHotel?.rating ==5? true: false"/>
              <span class="fw-bold"> * * * * *</span>
            </div>
          </div>
        </div>

        <div class="row" formGroupName="inputAddress">
          <label class="fw-bold fs-5">Hotel Address</label>
            <div class="mb-2 col-md-6 col-lg-4">
              <label for="inputCountry" class="form-label fw-bold">Hotel Country</label>
              <input type="text" class="form-control" id="inputCountry" required aria-describedby="inputCountry"
                name="inputCountry" formControlName="inputCountry" [value]="EHotel?.address.country"/>
              <div class="pt-1 text-danger"
                *ngIf="inputCountry?.touched && !inputCountry?.valid">
                <small *ngIf="inputCountry?.errors?.['required']">
                  * this field is required
                </small>
                <small *ngIf="inputCountry?.errors?.['minlength']">
                  * Country should be more than 2
                </small>
                <small *ngIf="inputCountry?.errors?.['maxlength']">
                  * Country should be less than 10
                </small>
              </div>
            </div>
            <div class="mb-2 col-md-6 col-lg-4">
              <label for="inputCity" class="form-label fw-bold">Hotel City</label>
              <input type="text" class="form-control" id="inputCity" required aria-describedby="inputCity"
                name="inputCity" formControlName="inputCity" [value]="EHotel?.address.city"/>
              <div class="pt-1 text-danger"
                *ngIf="inputCity?.touched && !inputCity?.valid">
                <small *ngIf="inputCity?.errors?.['required']">
                  * this field is required
                </small>
                <small *ngIf="inputCity?.errors?.['minlength']">
                  * City should be more than 2
                </small>
                <small *ngIf="inputCity?.errors?.['maxlength']">
                  * City should be less than 15
                </small>
              </div>
            </div>
            <div class="mb-2 col-lg-4">
              <label for="inputStreet" class="form-label fw-bold">Hotel Street</label>
              <input type="text" class="form-control" id="inputStreet" required aria-describedby="inputStreet"
                name="inputStreet" formControlName="inputStreet" [value]="EHotel?.address.street"/>
              <div class="pt-1 text-danger"
                *ngIf="inputStreet?.touched && !inputStreet?.valid">
                <small *ngIf="inputStreet?.errors?.['required']">
                  * this field is required
                </small>
                <small *ngIf="inputStreet?.errors?.['minlength']">
                  * Street should be more than 2
                </small>
                <small *ngIf="inputStreet?.errors?.['maxlength']">
                  * Street should be less than 30
                </small>
              </div>
            </div>
        </div>

        <div class="row mb-3" formArrayName="inputImage">
          <div class="d-flex justify-content-center align-items-center">
            <label class="fw-bold fs-5">Hotel Images</label>
            <button type="button" class="ms-auto mb-1 btn btn-primary rounded-circle" (click)="addImageInput()">+</button>
          </div>
            <div *ngFor="let image of inputImage.controls;let i=index">
              <span class="fw-bold">Hotel Image: {{i+1}}</span>
              <div  class="mt-2 d-flex justify-content-center align-items-center">
              <input type="text" class="form-control" required  name="inputImage{{i}}" [formControlName]="i" [value]="EHotel?.images[i]"/>
              <button type="button" class="ms-2 btn btn-danger rounded-circle" (click)="removeImageInput(i)" *ngIf="inputImage.length >1">-</button>
              </div>
              <div class="text-danger" *ngIf="inputImage.controls[i]?.touched && !inputImage.controls[i]?.valid">
                <small *ngIf="inputImage.controls[i]?.errors?.['required']">
                  * this field is required
                </small>
              </div>
            </div>
        </div>

        <div>
          <label class="fw-bold fs-5">Facilities</label>
            <div formGroupName="inputFacilities">
              <div class="row ms-3 my-2" formGroupName="inputLanguage">
                <div class="clo-md-6 col-lg-3">
                  <span class="fw-bold">Languages</span>
                </div>
                <div class="clo-md-6 col-lg-3">
                  <input type="checkbox" name="inputEnglish" formControlName="inputEnglish" [checked]="EHotel?.facilities.languages.English">
                  <span> English</span>
                </div>
                <div class="clo-md-6 col-lg-3">
                  <input type="checkbox" name="inputArabic" formControlName="inputArabic" [checked]="EHotel?.facilities.languages.Arabic">
                  <span> Arabic</span>
                </div>
                <div class="clo-md-6 col-lg-3">
                  <input type="checkbox" name="inputFrench" formControlName="inputFrench" [checked]="EHotel?.facilities.languages.French">
                  <span> French</span>
                </div>
              </div>
            </div>

            <div formGroupName="inputFacilities">
              <div class="row ms-3 my-2" formGroupName="inputServices">
                <div class="col-md-4">
                  <span class="fw-bold">Services</span>
                </div>
                <div class="col-md-4 col-lg-2">
                  <input type="checkbox" name="inputCashWithdrawal" formControlName="inputCashWithdrawal" [checked]="EHotel?.facilities.services.Cash_withdrawal">
                  <span> Cash Withdrawal</span>
                </div>
                <div class="col-md-4 col-lg-2">
                  <input type="checkbox" name="inputDailyHousekeeping" formControlName="inputDailyHousekeeping" [checked]="EHotel?.facilities.services.Daily_housekeeping">
                  <span> Daily Housekeeping</span>
                </div>
                <div class="col-md-4 col-lg-2">
                  <input type="checkbox" name="inputDryCleaning" formControlName="inputDryCleaning" [checked]="EHotel?.facilities.services.Dry_cleaning">
                  <span> Dry Cleaning</span>
                </div>
                <div class="col-md-4 col-lg-2">
                  <input type="checkbox" name="inputSalon" formControlName="inputSalon" [checked]="EHotel?.facilities.services.Salon">
                  <span> Salon</span>
                </div>
              </div>
            </div>

            <div formGroupName="inputFacilities">
              <div class="row ms-3 my-2" formGroupName="inputRelax">
                <div class="col-sm-4">
                  <span class="fw-bold">Relax</span>
                </div>
                <div class="col-md-4 col-lg-2">
                  <input type="checkbox" name="inputTours" formControlName="inputTours" [checked]="EHotel?.facilities.relax.tours">
                  <span> relax</span>
                </div>
                <div class="col-md-4 col-lg-2">
                  <input type="checkbox" name="inputNightClub" formControlName="inputNightClub" [checked]="EHotel?.facilities.relax.nightclub">
                  <span> Night Club</span>
                </div>
                <div class="col-md-4 col-lg-2">
                  <input type="checkbox" name="inputSauna" formControlName="inputSauna" [checked]="EHotel?.facilities.relax.sauna">
                  <span> Sauna</span>
                </div>
                <div class="col-md-4 col-lg-2">
                  <input type="checkbox" name="inputSpa" formControlName="inputSpa" [checked]="EHotel?.facilities.relax.spa">
                  <span> Spa</span>
                </div>
              </div>
            </div>

            <div formGroupName="inputFacilities">
              <div class="row ms-3 my-2" formGroupName="inputInternet">
                <div class="col-md-4">
                  <span class="fw-bold"> Internet</span>
                </div>
                <div class="col-md-4">
                  <input type="checkbox" name="inputWifiPublic" formControlName="inputWifiPublic"  [checked]="EHotel?.facilities.internet.wifi_public">
                  <span> Wifi Public</span>
                </div>
                <div class="col-md-4">
                  <input type="checkbox" name="inputWifiInRoom" formControlName="inputWifiInRoom"  [checked]="EHotel?.facilities.internet.wifi_inrooms">
                  <span> Wifi in Room</span>
                </div>
              </div>
            </div>

            <div formGroupName="inputFacilities">
              <div class="row ms-3 my-2" formGroupName="inputAccess">
                <div class="clo-md-6 col-lg-3">
                  <span class="fw-bold"> Access</span>
                </div>
                <div class="clo-md-6 col-lg-3">
                  <input type="checkbox" name="inputPetsAllow" formControlName="inputPetsAllow" [checked]="EHotel?.facilities.access.pets_allow">
                  <span> Pets Allow</span>
                </div>
                <div class="clo-md-6 col-lg-3">
                  <input type="checkbox" name="inputSecurity" formControlName="inputSecurity" [checked]="EHotel?.facilities.access.security">
                  <span> Security</span>
                </div>
                <div class="clo-md-6 col-lg-3">
                  <input type="checkbox" name="inputFrontDesk" formControlName="inputFrontDesk" [checked]="EHotel?.facilities.access.front_desk">
                  <span> Front Desk</span>
                </div>
              </div>
            </div>

            <div formGroupName="inputFacilities">
              <div class="row ms-3 my-2" formGroupName="inputForKids">
                <div class="clo-md-6 col-lg-3">
                  <span class="fw-bold"> For Kids</span>
                </div>
                <div class="clo-md-6 col-lg-3">
                  <input type="checkbox" name="inputKidsClub" formControlName="inputKidsClub" [checked]="EHotel?.facilities.for_kids.kids_club">
                  <span> Kids Club</span>
                </div>
                <div class="clo-md-6 col-lg-3">
                  <input type="checkbox" name="inputPlayground" formControlName="inputPlayground" [checked]="EHotel?.facilities.for_kids.playground">
                  <span> Playground</span>
                </div>
                <div class="clo-md-6 col-lg-3">
                  <input type="checkbox" name="inputSwimmingPool" formControlName="inputSwimmingPool" [checked]="EHotel?.facilities.for_kids.swimmingpool">
                  <span> Swimming Pool</span>
                </div>
              </div>
            </div>
        </div>

        <div class="row">
          <div class="d-flex justify-content-center align-items-center">
            <label class="fw-bold fs-5">Hotel Rooms</label>
            <button type="button" class="ms-auto mb-1 btn btn-primary rounded-circle" (click)="addRoomInput()">+</button>
          </div>
          <div  formArrayName="inputRoom" *ngFor="let room of inputRoom.controls;let i=index">
            <span class="fw-bold">Room: {{i+1}}</span>
            <button type="button" class="ms-2 btn btn-danger rounded-circle" (click)="removeRoomInput(i)" *ngIf="inputRoom.length >1">-</button>
            <div class="mt-2" [formGroupName]="i">
              <div class="ms-3 mb-2 row">
                <div class="col-md-6 col-lg-3">
                  <span class="fw-bold">Room Type</span>
                </div>
                <div class="col-md-6 col-lg-3">
                  <input type="radio" formControlName="inputRoomType" value="single"/>
                  <span> Single</span>
                </div>
                <div class="col-md-6 col-lg-3">
                  <input type="radio" formControlName="inputRoomType" value="double"/>
                  <span> Double</span>
                </div>
                <div class="col-md-6 col-lg-3">
                  <input type="radio" formControlName="inputRoomType" value="triple"/>
                  <span> Triple</span>
                </div>
              </div>
              <div class="ms-3 mb-2 row">
                <div class="col-md-6 col-lg-3">
                  <span class="fw-bold">Room Count</span>
                </div>
                <div class="col-md-6 col-lg-9">
                  <input type="number" required  name="inputRoomCount" formControlName="inputRoomCount" min="1" />
                </div>
                <div class="text-danger" *ngIf="inputRoom.controls[i].get('inputRoomCount')?.touched && !inputRoom.controls[i].get('inputRoomCount')?.valid">
                  <small *ngIf="inputRoom.controls[i].get('inputRoomCount')?.errors?.['required']">
                    * this field is required
                  </small>
                </div>
              </div>
              <div class="ms-3 mb-2 row">
                <div class="col-md-6 col-lg-3">
                  <span class="fw-bold">Room Capacity</span>
                </div>
                <div class="col-md-6 col-lg-9">
                  <input type="number" required  name="inputRoomCapacity" formControlName="inputRoomCapacity" min="1"/>
                </div>
                <div class="text-danger" *ngIf="inputRoom.controls[i].get('inputRoomCapacity')?.touched && !inputRoom.controls[i].get('inputRoomCapacity')?.valid">
                  <small *ngIf="inputRoom.controls[i].get('inputRoomCapacity')?.errors?.['required']">
                    * this field is required
                  </small>
                </div>
              </div>
              <div class="ms-3 mb-2 row">
                <div class="col-md-6 col-lg-3">
                  <span class="fw-bold">Room Price Per Night</span>
                </div>
                <div class="col-md-6 col-lg-9">
                  <input type="number" required  name="inputPricePerNight" formControlName="inputPricePerNight" min="1"/>
                </div>
                <div class="text-danger" *ngIf="inputRoom.controls[i].get('inputPricePerNight')?.touched && !inputRoom.controls[i].get('inputPricePerNight')?.valid">
                  <small *ngIf="inputRoom.controls[i].get('inputPricePerNight')?.errors?.['required']">
                    * this field is required
                  </small>
                </div>
              </div>
              <div class="ms-3 mb-2 row">
                <div class="col-md-6 col-lg-3">
                  <span class="fw-bold">Room Facilities</span>
                </div>
                <div class="col-md-6 col-lg-9">
                  <div class="row" formGroupName="inputRoomFacilities">
                    <div class="col-md-12 col-lg-6 col-xl-4">
                      <input type="checkbox"  name="inputRoomInternetAccess" formControlName="inputRoomInternetAccess"/>
                      <span> Internet Access</span>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                      <input type="checkbox"  name="inputRoomWashingMachine" formControlName="inputRoomWashingMachine"/>
                      <span> Washing Machine</span>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                      <input type="checkbox"  name="inputRoomKitchen" formControlName="inputRoomKitchen"/>
                      <span> Kitchen</span>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                      <input type="checkbox"  name="inputRoomAirConditioning" formControlName="inputRoomAirConditioning"/>
                      <span> Air Conditioning</span>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                      <input type="checkbox"  name="inputRoomCoffeeTeaMaker" formControlName="inputRoomCoffeeTeaMaker"/>
                      <span> Coffee & TeaMaker</span>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                      <input type="checkbox"  name="inputRoomTv" formControlName="inputRoomTv"/>
                      <span> Tv</span>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                      <input type="checkbox"  name="inputRoomBathtub" formControlName="inputRoomBathtub"/>
                      <span> Bathtub</span>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                      <input type="checkbox"  name="inputRoomBalcony" formControlName="inputRoomBalcony"/>
                      <span> Balcony</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ms-3 mb-2 row">
                <div class="col-md-6 col-lg-3">
                  <span class="fw-bold">Room Offers</span>
                </div>
                <div class="col-md-6 col-lg-9">
                  <div class="row" formGroupName="inputRoomOffers">
                    <div class="col-md-12 col-lg-6 col-xl-4">
                      <input type="checkbox"  name="inputRoomBreakfastIncluded" formControlName="inputRoomBreakfastIncluded"/>
                      <span> Breakfast Included</span>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                      <input type="checkbox"  name="inputRoomEarlyCheckIn" formControlName="inputRoomEarlyCheckIn"/>
                      <span> Early CheckIn</span>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-4">
                      <input type="checkbox"  name="inputRoomDinnerIncluded" formControlName="inputRoomDinnerIncluded"/>
                      <span> Dinner Included</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ms-3 mb-2 row">
                <div class="col-md-6 col-lg-3">
                  <span class="fw-bold">Room Image</span>
                </div>
                <div class="col-md-6 col-lg-9">
                  <input type="text" class="form-control" name="inputRoomImage" formControlName="inputRoomImage"/>
                </div>
                <div class="text-danger" *ngIf="inputRoom.controls[i].get('inputRoomImage')?.touched && !inputRoom.controls[i].get('inputRoomImage')?.valid">
                  <small *ngIf="inputRoom.controls[i].get('inputRoomImage')?.errors?.['required']">
                    * this field is required
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex">
          <!-- [disabled]="EditHotel.invalid" -->
          <button type="submit" class="btn btn-primary fw-bold ms-auto" >Edit Hotel</button>
        </div>
      </form>

    </div>
  </div>
</section>
