.alpha-name .alpha{
    background-color: rgb(83, 146, 249);
    width: 30px;
    height: 30px;
}
.dropdown button .currency-img{
    width: 20px;
    height: 20px;
}
.dropdown ul li a{
    color: black;
    display: inline-block;
}
.dropdown ul li{
    background-color: white;
}
.dropdown ul li:last-of-type a{
    color: rgb(83, 146, 249);
}
.dropdown ul li:last-of-type:hover a{
    background-color: rgb(83, 146, 249);
    color: white;
}
.dropdown ul li:hover a{
    color: rgb(83, 146, 249);
}
.dropdown ul{
    width: 250px;
}